<a href="https://colab.research.google.com/github/gouravsingh2009/DECISION-TREE-ALGO-/blob/main/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

PANDAS

In [11]:
import pandas as pd
import numpy as np

In [12]:
a=np.array(['Japan','USA','India','France','South Africa','Germany','Estonia','Ethiopia','Pakistan'])
countries= pd.Series(a)
countries

0           Japan
1             USA
2           India
3          France
4    South Africa
5         Germany
6         Estonia
7        Ethiopia
8        Pakistan
dtype: object

In [13]:
b=pd.Series([100,200,300,400,500,600,700,800,900],index=['Japan','USA','India','France','South Africa','Germany','Estonia','Ethiopia','Pakistan'])
print(b)

Japan           100
USA             200
India           300
France          400
South Africa    500
Germany         600
Estonia         700
Ethiopia        800
Pakistan        900
dtype: int64

In [14]:
c= pd.Series(2,index=['a','b','c','d','e'])
print(c)

a    2
b    2
c    2
d    2
e    2
dtype: int64

In [16]:
print(c[0])
print(b[2])
print(a[5:])

2
300
['Germany' 'Estonia' 'Ethiopia' 'Pakistan']

Find by INDEX and by VALUE in Series

In [21]:
b.loc['France']

400

In [25]:
b.iloc[6]

700

In [ ]:
## Series using VECTOR

In [27]:
vector_ser1=pd.Series([1,3,4,5],index=['a','b','c','d'])
vector_ser2=pd.Series([5,7,8],index=['b','a','c'])
vector_ser1+vector_ser2

a     8.0
b     8.0
c    12.0
d     NaN
dtype: float64

Data Frames

In [1]:
import pandas as pd

In [3]:
a={'Batsman':['KL Rahul','Rohit','Virat','SK Yadav','R Pant','H Pandya','Axar','Ashwin','D Chahar','Shami','Bumrah'],'Runs':[12,0,2,78,56,32,12,31,0,1,2],'Balls':[19,4,9,92,43,50,20,21,6,2,5]}
b=pd.DataFrame(a)
b

     Batsman  Runs  Balls
0   KL Rahul    12     19
1      Rohit     0      4
2      Virat     2      9
3   SK Yadav    78     92
4     R Pant    56     43
5   H Pandya    32     50
6       Axar    12     20
7     Ashwin    31     21
8   D Chahar     0      6
9      Shami     1      2
10    Bumrah     2      5

In [6]:
b.describe

<bound method NDFrame.describe of      Batsman  Runs  Balls
0   KL Rahul    12     19
1      Rohit     0      4
2      Virat     2      9
3   SK Yadav    78     92
4     R Pant    56     43
5   H Pandya    32     50
6       Axar    12     20
7     Ashwin    31     21
8   D Chahar     0      6
9      Shami     1      2
10    Bumrah     2      5>

In [7]:
b.Batsman

0     KL Rahul
1        Rohit
2        Virat
3     SK Yadav
4       R Pant
5     H Pandya
6         Axar
7       Ashwin
8     D Chahar
9        Shami
10      Bumrah
Name: Batsman, dtype: object

In [8]:
b.Balls

0     19
1      4
2      9
3     92
4     43
5     50
6     20
7     21
8      6
9      2
10     5
Name: Balls, dtype: int64

In [11]:
c=pd.Series(index=['KL Rahul','Rohit','Virat','SK Yadav','R Pant','H Pandya','Axar','Ashwin','D Chahar','Shami','Bumrah'],[12,0,2,78,56,32,12,31,0,1,2])
d=pd.Series(index=['KL Rahul','Rohit','Virat','SK Yadav','R Pant','H Pandya','Axar','Ashwin','D Chahar','Shami','Bumrah'],[19,4,9,92,43,50,20,21,6,2,5])
new_frame= pd.DataFrame({'Runs by Batsman':c,'Balls Faced by Batsman':d})
new_frame

SyntaxError: ignored

In [13]:
import numpy as np
arr= np.array([1,2,3,4,5])
example={'Items':arr}
example_frame=pd.DataFrame(example)
example_frame

   Items
0      1
1      2
2      3
3      4
4      5

The above methods are examples of how to create a Data Frame from lists , ndarray , dictionaries etc