<a href="https://colab.research.google.com/github/gouravsingh2009/DECISION-TREE-ALGO-/blob/main/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [7]:
url= 'https://raw.githubusercontent.com/gouravsingh2009/DECISION-TREE-ALGO-/main/Auction%202023%20Data.csv'
file=pd.read_csv(url)
file.describe

<bound method NDFrame.describe of      Season               Name Nationality          Type  \
0      2023    Ajinkya Rahane      Indian        Batter
1      2023     Bhagath Varma      Indian   All-Rounder
2      2023     Kyle Jamieson    Overseas        Bowler
3      2023       Ajay Mandal      Indian   All-Rounder
4      2023    Nishant Sindhu      Indian   All-Rounder
..      ...                ...         ...           ...
279    2022  Fazalhaq Farooqi    Overseas        Bowler
280    2022       Sean Abbott    Overseas        Bowler
281    2022         R Samarth      Indian       Batsman
282    2022    Shashank Singh      Indian   All-Rounder
283    2022     Saurabh Dubey      Indian        Bowler

                     Team         Price
0     Chennai Super Kings    50,00,000
1     Chennai Super Kings    20,00,000
2     Chennai Super Kings  1,00,00,000
3     Chennai Super Kings    20,00,000
4     Chennai Super Kings    60,00,000
..                    ...           ...
279   Sunrisers Hyderabad    50,00,000
280   Sunrisers Hyderabad  2,40,00,000
281   Sunrisers Hyderabad    20,00,000
282   Sunrisers Hyderabad    20,00,000
283   Sunrisers Hyderabad    20,00,000

[284 rows x 6 columns]>

In [8]:
file.head

<bound method NDFrame.head of      Season               Name Nationality          Type  \
0      2023    Ajinkya Rahane      Indian        Batter
1      2023     Bhagath Varma      Indian   All-Rounder
2      2023     Kyle Jamieson    Overseas        Bowler
3      2023       Ajay Mandal      Indian   All-Rounder
4      2023    Nishant Sindhu      Indian   All-Rounder
..      ...                ...         ...           ...
279    2022  Fazalhaq Farooqi    Overseas        Bowler
280    2022       Sean Abbott    Overseas        Bowler
281    2022         R Samarth      Indian       Batsman
282    2022    Shashank Singh      Indian   All-Rounder
283    2022     Saurabh Dubey      Indian        Bowler

                     Team         Price
0     Chennai Super Kings    50,00,000
1     Chennai Super Kings    20,00,000
2     Chennai Super Kings  1,00,00,000
3     Chennai Super Kings    20,00,000
4     Chennai Super Kings    60,00,000
..                    ...           ...
279   Sunrisers Hyderabad    50,00,000
280   Sunrisers Hyderabad  2,40,00,000
281   Sunrisers Hyderabad    20,00,000
282   Sunrisers Hyderabad    20,00,000
283   Sunrisers Hyderabad    20,00,000

[284 rows x 6 columns]>

In [9]:
file.shape

(284, 6)

In [11]:
file['Price'].fillna(value='No')

0        50,00,000
1        20,00,000
2      1,00,00,000
3        20,00,000
4        60,00,000
           ...
279      50,00,000
280    2,40,00,000
281      20,00,000
282      20,00,000
283      20,00,000
Name: Price, Length: 284, dtype: object

In [ ]:
file['Price'].dropna

group by , drop values , fillNA

In [13]:
file.groupby('Price')
file.describe

<bound method NDFrame.describe of      Season               Name Nationality          Type  \
0      2023    Ajinkya Rahane      Indian        Batter
1      2023     Bhagath Varma      Indian   All-Rounder
2      2023     Kyle Jamieson    Overseas        Bowler
3      2023       Ajay Mandal      Indian   All-Rounder
4      2023    Nishant Sindhu      Indian   All-Rounder
..      ...                ...         ...           ...
279    2022  Fazalhaq Farooqi    Overseas        Bowler
280    2022       Sean Abbott    Overseas        Bowler
281    2022         R Samarth      Indian       Batsman
282    2022    Shashank Singh      Indian   All-Rounder
283    2022     Saurabh Dubey      Indian        Bowler

                     Team         Price
0     Chennai Super Kings    50,00,000
1     Chennai Super Kings    20,00,000
2     Chennai Super Kings  1,00,00,000
3     Chennai Super Kings    20,00,000
4     Chennai Super Kings    60,00,000
..                    ...           ...
279   Sunrisers Hyderabad    50,00,000
280   Sunrisers Hyderabad  2,40,00,000
281   Sunrisers Hyderabad    20,00,000
282   Sunrisers Hyderabad    20,00,000
283   Sunrisers Hyderabad    20,00,000

[284 rows x 6 columns]>

In [ ]:
a=file.get_group('')

In [14]:
file.index

RangeIndex(start=0, stop=284, step=1)